{box-sizing: border-box}

button:focus {
    border: none;
    outline: none;
}
input:focus{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'poppins' , sans-serif;
    color: darkslategray;

}

.priceactions{
    display: flex;
    width: 100%;
    height: 25px;
    background-color: black;
    margin-bottom: 15px;
    position: fixed;
}

.pagetop{
    display: flex;
    width: 100%;
    height: 100px;
    /*background-color: black;*/

}
.logo{
    position: relative;

    width: 300px;
    height: 130px;
    background:url("img/logo_zoom.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 25px;

}
.navbar{
    display: flex;

    width: 1100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    /*background-color: ;*/
}
.navbar a {
    text-decoration: none;
    padding: 25px 25px;
    color: whitesmoke;

}
.translator{
    display:flex;
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.home{
    display: flex;
    width: 100%;
    height: 700px;
    top:30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column ;

}
.hometext{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 50px;
}
.OPENACCOUNT{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: cyan;
    color: black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: 3s ease-in-out;
    transform: scale(0.9);
}
.OPENACCOUNT:Hover{
    transform: scale(0.98);
}
.us{
    display:flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
.aboutus{
    display:flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom:1px ;
}
.aboutus div h1{
    text-align: center;
}
.aboutus > div{
    display: flex;
    width: 32.3%;
    height: 650px;
   /* background-color: cyan;*/
    margin-left: 1%;
    margin-right: 1%;
    transition: 3s ease-in-out ;
    transform: scale(0.9);
    border-radius: 35px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    color:cyan;

}


.aboutus > div:hover{
    transform: scale(0.98);
}
.value{
    display:none;
    width: 100%;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.value > div{
    display: flex;
    width: 49%;
    height: 650px;
    background-color: navajowhite;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 35px;

}

.bonus{
    display:flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.bonus > div{
    display: flex;
    width: 48%;
    height: 400px;
    /*background-color: cyan;*/
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;
    border-radius: 35px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    font-weight: bolder;
    color: cyan;

}
.bonustext{
    width: 45%;
    margin-left: 100px;

}
.bonusside > div {
    display: flex;
    width: 98%;
    height: 32%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: yellow;
    border-radius: 35px;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: darkslategray;


}

.siteinfo{
    display:flex;
    width: 100%;
    height: 220px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.siteinfo > div{
    display: flex;
    width: 23%;
    height: 200px;
    background-color: cyan;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 35px;

}

.packages{
    display:flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
.packages > div{
    display: flex;
    width: 23%;
    height: 550px;
    background-color: cyan;
    margin-left: 1%;
    margin-right: 1%;
    transition: 3s ease-in-out ;
    transform: scale(0.9);
    border-radius: 35px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bolder;

}

.packages > div > button{
    display: none;
    width: 96%;
    height: 45px;
    background-color: greenyellow;
    bottom: 5px;
    margin-right: 2%;
    margin-left: 2%;
    position: absolute;
    opacity: 1;
    border-radius: 40px;
    border: none;
    transition: all 1s ease-in;
}
.packages > div:hover{
    margin-top: 10px;
    transform: scale(0.98);

}
.packages > div:hover button{
    display: block;
    transition: all 10s ease-in;
}

.feedback{
    display: grid;
    width: 100%;
    height: 500px;
    padding: 5px;
    grid-template-columns: auto auto;
}
.feedback > div {
    display: grid;
    background-color: darkkhaki;
    margin: 5px;
    border-radius: 35px;
}

.shortcuts{
    display: flex;
    width: 100%;
    height: 500px;
    padding: 5px;
    font-weight: lighter;
    color: whitesmoke;
    /*grid-template-columns: auto auto auto auto;*/
}

.shortcuts a{
    color: whitesmoke;
    text-decoration: none;
}

.shortcuts > div {
    display: flex;
    width: 25%;
    /*background-color: lightskyblue;*/
    margin: 5px;
    border-radius: 35px;
    padding: 10px;
    color: whitesmoke;


    flex-direction: column;
}

.shortcuts > div > span{
    align-items: flex-start;
    justify-content: left;
    text-align: justify;
    color: whitesmoke;


}
.spn{

    letter-spacing: 3px;
    line-height: 45px;

}

.shortcuts > div > span > h3{
    padding-top: 20px;
    color: whitesmoke;
}
.contactus{
    flex-direction: column;
}





.userauthen{

    width: 100%;




}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 30px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px cyan;
    position: relative;
    border-radius: 30px;
}
.toogle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, darkslategray,cornflowerblue,cadetblue);
    border-radius: 30px;
    transition: .5s ease-in-out;
}
.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons > img{
   width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px cadetblue;
    cursor: pointer;
    border-radius: 50%;

}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s ease-in-out;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px cyan solid;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, darkslategray,cornflowerblue,cadetblue);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.input-group > span{
    color: darkslategray;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
    display: none;
}




.footer{
    width: 100%;
    height: 30px;
    background-color: indigo;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.social-icons2{
    display: flex;
    flex-direction: row;
    margin-left: 70%;

}
.social-icons2 >img{
    margin-left: 55px;
}

.copyrights{
    margin-left: 20px;
    font-weight: bolder;
    color: whitesmoke;
}
#year{
    margin-left: 5px;
    font-weight: bolder;
    color: whitesmoke;
}


marquee{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.flexing{
    display: flex;
    margin: 0 10px;
}

.flexing img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.flexing .name{
    display: flex;
    color: #f5f5f5;
}
.flexing .name h2{
    font-family: "Segoe UI", sans-serif;
    color: #f5f5f5;
}


.userside{
    position: relative;
    top: 45px;
    width: 99.8%;
    height: 540px;
    border:1px whitesmoke solid;
}
.db{
    position: absolute;
    width: 80%;
    background: lightcyan;
    height: 100%;
    opacity: 1;
   transition: .9s ease-in-out;
    display: block;
    right: 0;




}
.plf{
    position: absolute;
    width: 80%;
    background: lightcyan;
    height: 100%;
    opacity: 1;
    transition: .9s ease-in-out;
    display: block;
    right: 0;
}
.user_flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.profile_form{
    width: 80%;
    font-weight: bolder;
}
.act{
    position: absolute;
    width: 80%;
    background: lightcyan;
    height: 100%;
    transition: .9s ease-in-out;
    opacity: 1;
    display: block;
    right: 0;
}

.act_btn button{
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.ctu{
    width: 19.8%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile_pic{
    width: 100%;
    height: 200px;
    background: lightcyan;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#user_details{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}
#user_details > button{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    margin: 15px 0px;
}
#user_details > span{
    margin: 5px 0px;
    font-weight: bolder;
    color: whitesmoke;
}


@media only screen and (max-width:900px) {
    *{
        font-weight: lighter;
        font-size: 10px;
    }


    .translator{
        display: none;
    }
    .logo{
        display: none;
    }
    .pagetop{



        width: 100%;
        height: 50px;
    }
    .navbar{
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;

    }

    .navbar a{
        padding: 6px 6px;
        color: whitesmoke;
        font-size: 8px;
        text-align: center;
        margin-top: 20px;
    }


    .aboutus{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 606px;

    }
    .aboutus > div{
        width: 100%;
        height: 200px;
        margin: 2px;
        justify-content: center;
        align-items: center;
        font-weight: lighter;
        font-size: 10px;
        text-align: center;
    }

    .siteinfo{
        display:flex;
        width: 100%;
        height: 105px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .siteinfo > div{
        display: flex;
        width: 23%;
        height: 100px;
        background-color: cyan;
        margin-left: 1%;
        margin-right: 1%;

    }

    .packages{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 1206px;

    }
    .packages > div{
        width: 100%;
        background-color: yellow;
        height: 350px;
        margin: 2px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
    }

    .shortcuts{
        display: none;
    }

    .feedback{
        display: none;
    }

    .footer{
        display: flex;

    }

}
